.calendar.title span,
.calendar.date .calender-button{
    display: block;
    float: left;
    width: 14.25%;
    height:100px;
}
.calendar.title{
    border-bottom: 1px solid #efefef;
}
.calendar.title span{
    line-height: 100px;
}
.calendar.date .calender-button{
    line-height: 50px;
    position: relative;
    /* overflow: hidden; */
    transition: .3s;
}
.calendar.date .calender-button > span{
    display: inline-block;
}
/* .calendar.date .calender-button > .after{
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 1;
    background: rgba(51, 51, 51, 0.2);
} */
/* .calendar.date .able-click:hover > .after{
    top: 0;
} */

.calendar.date .able-click:hover {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; 
}

.today p{
    font-size: 1.5rem;
}
.calendar-select{
    background: #fafafa;
    margin: 5px 0;
}
.calendar-select .selectGroup{
    width: 50%;
    float: left;
}
.calendar-select .selectGroup select{
    background: #fafafa;
    border: none;
}
.calendar.date .able-click:hover .calendar-after{
    display: block;
}
.calendar.date .calendar-after{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}