.data-table{
    width: 100%;
}
.data-table *{
    font-size: .9rem;
}
.data-rows,
.data-title{
    height: 3rem;
    line-height: 3rem;
    /*width: 80%;*/
    /*min-width: 800px;*/
    margin: auto;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.data-title{
    color: #999;
    border-bottom: 1px solid #999;
}
.data-rows:nth-child(2n){
    background: #f9f9f9
}
.data-title:after,
.data-rows:after{
    content: "";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}
.data-cols{
    float: left;
    overflow: auto;
}
.data-rows:hover{
    background: #ededed;
}
.data-rows.clicked{
    background: #ededed;
}
.table-operate a{
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}
.data-content{
    /* height: 500px; */
    overflow: hidden;
}

.listTitle {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    background: #efefef;
}
.listTitleSpan{
    display: inline-block;
    line-height: normal;
}
.listContent{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #efefef;
}
.title-hover:hover ul{
    display: block;
}
.title-hover ul{
    display: none;
    position: absolute;
    background: #fff;
    z-index: 10;
    max-height: 500px;
    overflow: auto;
}
.title-hover ul li:first-child {
    border-top: 1px solid #eee;
}
.title-hover ul li{
    height: 2rem;
    line-height: 2rem;
}
.title-hover ul li:hover {
    background: #eee;
}
.data-title img{
    width: 14px;
    vertical-align: middle;
}
.data-title input{
    width: 80%;
    border: none;
    text-align: center;
    vertical-align: middle;
}